/* --> Common CSS <-- */
body {
    margin: 0;
    padding: 0;
    color: #757474;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    line-height: 1.5em;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    margin: 0;
    color: #464545;
    font-family: 'Alata', sans-serif;
    line-height: 1.5em;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 28px;
}

span {
    color: #d9212b;
}

a {
    color: #d9212b;
    text-decoration: none;
}

a:hover,
.btn:hover {
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
}

section,
footer {
    padding: 70px 0;
}

input,
input:focus {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    padding: 15px 25px;
    color: #464545;
    font-family: 'Comfortaa', cursive;
    font-size: 22px;
    background-color: #82828250;
    border: none;
    border-radius: 40px;
    outline: none;
    box-sizing: border-box;
}

/* --> Common Classes <-- */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex-display {
    display: flex;
}

.flex-items {
    width: 50%;
    align-self: center;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 25px;
    color: #e8e8e8;
    background-image: linear-gradient(to right, #d9212b, #540d11);
    border-radius: 40px;
}

/* --> Menu Section <-- */
#menu-bar {
    padding: 10px 0;
    border-bottom: 1px solid #82828246;
}

.main-social-links li {
    display: inline;
    padding: 10px 20px;
    border-right: 1px solid #82828246;
}

.main-social-links li:first-child {
    padding-left: 180px;
}

.main-social-links li:last-child {
    border: none;
}

/* --> About Section <-- */
#about-section {
    background: url('images/ibnufood-about-bg.jpg') no-repeat bottom/cover;
}

.about-title {
    padding: 0 40px 0 120px;
}

/* --> Recipies Section <-- */
.recipies-title {
    margin-bottom: 50px;
    padding: 0 200px;
    text-align: center;
}

.item-box {
    margin: 0 25px;
    padding: 20px;
    box-shadow: 2px 2px 15px #8080805d;
    border-radius: 15px;
}

.item-box img {
    border-radius: 12px;
}

/* --> Counter Section <-- */
.counters {
    padding: 50px 120px;
    box-shadow: 2px 2px 15px #8080805d;
    border-radius: 15px;
}

.counter-item {
    width: 70%;
    margin: 0 auto;
}

.counter-item h2 {
    line-height: .8em;
    font-size: 55px;
}

/* --> Subscribe Section <-- */
#subscribe-section {
    background: url('images/ibnufood-newsletter-bg.png') no-repeat right/contain;
    margin: 80px 0;
}

.subscribe-title {
    margin-bottom: 80px;
}

.subscribe-form input[type='text'] {
    width: 40%;
}

.subscribe-form input[type='submit'] {
    width: 15%;
    margin-left: 20px;
}

/* --> Footer Section <-- */
#footer-section {
    background-color: #fdeaec;
    text-align: center;
}