/* --> Common CSS <-- */
body {
    margin: 0;
    padding: 0;
    color: #757474;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    line-height: 1.5em;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    color: #464545;
    font-family: 'Alata', sans-serif;
    line-height: 1.5em;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 28px;
}

span {
    color: #d9212b;
}

a {
    color: #e8e8e8;
    text-decoration: none;
}

a:hover,
.btn:hover {
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
}

input,
input:focus {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px 10px;
    color: #828282;
    font-family: 'Comfortaa', cursive;
    font-size: 22px;
    background-color: #e8e8e817;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* --> Menu Section <-- */
#menu-bar {
    padding: 10px 0;
    border-bottom: 1px solid #82828246;
}

.main-menu-items {
    display: flex;
}

.main-logo,
.main-social-links {
    width: 50%;
}

.main-social-links {
    align-self: center;
}

.main-social-links li {
    display: inline;
    padding: 10px 20px;
    border-right: 1px solid #82828246;
}

.main-social-links li:first-child {
    padding-left: 180px;
}

.main-social-links li:last-child {
    border: none;
}

.main-social-links li a {
    color: #d9212b;
}

/* --> Hero Section <-- */